<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Create new swimmer</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
    <h2>New preference</h2>
    <form action="#" th:action="@{/preference/update/{nifStudent}&{idProjectOffer}(nifStudent=${ ??? }, idProjectOffer=${ ??? })}"
                     th:object="${preference}" method="post">
      <table>
        <tr>
            <td><label>Order</label></td>
            <td><input type="number" th:field="*{order}" /></td>
        </tr>
        <tr>
            <td><label>State</label></td>
            <td><input type="text" th:field="*{state}" /></td>
        </tr>
        <tr>
            <td><label>Last Change Date</label></td>
            <td><input type="text" th:field="*{lastChangeDate}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update preference" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
