<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/btc.css" th:href="@{/css/btc.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-header" href="/"><img alt="Brand" src="../../img/mlogo.png"></a>
    		</div>
    		<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
	  			<li>
	    				<form class="navbar-form navbar-right" style="margin-right:150px">
              					<div class="form-group">
                					<input type="text" class="form-control" placeholder="Search SAPE">
              					</div>
              					<button type="submit" class="btn btn-default">Search</button>
      	    				</form>
	  			</li>
          			<li class="dropdown">
            				<a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
            				<ul class="dropdown-menu">
              					<li><a href="/projectOffer/list.html" th:href="@{/projectOffer/list.html}">Offers</a></li>
              					<li><a href="/company/list.html" th:href="@{/company/list.html}">Companies</a></li>
              					<li><a href="/preference/list.html" th:href="@{/preference/list.html}">Students' preferences</a></li>
            				</ul>
          			</li>
      			
          			<li class="dropdown">
            				<a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${user.name}">  <span class="caret"></span></a>
            				<ul class="dropdown-menu">
              					<li><a href="/signout">Sign out</a></li>
            				</ul>
          			</li>
      			</ul>
    		</div>
  	</div><!-- /.container-fluid -->
</nav>

<body>
	<div class="center">
		<h2>Edit Project Offer's Itinerary</h2>
		<form action="#" th:action="@{/projectOffer/update/{id}(id=${projectOffer.id})}"
                     th:object="${projectOffer}" method="post">
			<table class="bttcenter">
		        <tr>
		            <td><label>Itinerary</label></td>
		            <td>
		            	<select th:field="*{itinerary}">
		            		<option value="Sistemas de Información">Sistemas de Información</option>
		            		<option value="Ingeniería del Software">Ingeniería del Software</option>
		            		<option value="Tecnologías de la Información">Tecnologías de la Información</option>
		            		<option value="Ingeniería de Computadores">Ingeniería de Computadores</option>
		            	</select>
		        </tr>
			</table>
	    <input type="text" class="set-width" required placeholder="Notify the contact person about changes you have introduced..."> <br><br>
	    <input type="submit" class="btn btn-primary" value="Apply">
	    </form>
	</div>
</body>
						
<div class="footer navbar-fixed-bottom">
	<p class="center"> SAPE is a non commercial trademark created for educational purposes. <br> &copy; 2018 <a href="/">SAPE</a>. All rights reserved. &nbsp <a href="#">Terms of Service</a> &nbsp <a href="#">Privacy</a></p>
</div>
</body>
</html>