<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/btc.css" th:href="@{/css/btc.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-header" href="/"><img alt="Brand" src="../img/mlogo.png"></a>
    		</div>
    		<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
	  			<li>
	    				<form class="navbar-form navbar-right" style="margin-right:150px">
              					<div class="form-group">
                					<input type="text" class="form-control" placeholder="Search SAPE">
              					</div>
              					<button type="submit" class="btn btn-default">Search</button>
      	    				</form>
	  			</li>
          			<li class="dropdown">
            				<a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
            				<ul class="dropdown-menu">
              					<li><a href="/profile">Your profile</a></li>
              					<li><a href="/help">Help</a></li>
              					<li><a href="/signout">Sign out</a></li>
            				</ul>
          			</li>
      			</ul>
    		</div>
  	</div><!-- /.container-fluid -->
</nav>

<body>
	<div class="center">
		<h1> Manage Offers </h1> <br>
		<a href="/projectOffer/list.html" th:href="@{/projectOffer/list.html}"><button class="btn btn-primary"> Offers </button></a>
		<a href="/assignment/list.html" th:href="@{/assignment/list.html}"><button class="btn btn-primary"> Assignments </button></a>
	</div>
	
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div th:if="${#lists.isEmpty(projectOffers)}">
         	There are no projects offers in the data base. 
   		</div>
		<table th:unless="${#lists.isEmpty(projectOffers)}" id="tableOffers">
			<tr th:each="projectOffer: ${projectOffers}">
				<td>
				<p>
					<a class="btn btn-default btn-block" data-toggle="collapse" th:href="'#'+${projectOffer.id}" role="button" aria-expanded="false" aria-controls="offer1">
    					<strong th:text="${projectOffer.title}"></strong>
					</a>
   				</p>
     				<div class="collapse" th:id="${projectOffer.id}">
  					<div class="card card-body">
					    	<b>State</b>: <p th:text="${projectOffer.state}"></p> <br>
					    	<b>Company</b> : <p th:text="${projectCompanyMatches['__${projectOffer.id}__']}"></p> <br>
					    	<b>Detailed description</b>: <br> <p th:text="${projectOffer.tasks}"></p> <br>
					    	<b>Goals:</b> <br> <p th:text="${projectOffer.objectives}"></p> <br>
					    	<b>Itinerary:</b> <br> <p th:text="${projectOffer.itinerary}"></p> <br>
					    	<b>Contact person:</b> <br> <p th:text="${internshipIdToMailContactPerson['__${projectOffer.id_internship}__']}"></p> <br>
						<p>
							<a th:href="@{/projectOffer/update/__${projectOffer.id}__}"> 
								<button type="button" class="btn btn-primary">Modify Offer</button>
							</a>
							<a th:href="@{/review/list/__${projectOffer.id}__}"> 
								<button type="button" class="btn btn-primary">List reviews</button>
							</a>
							<a class="btn btn-primary" data-toggle="collapse" th:href="'#reject'+${projectOffer.id}" role="button" aria-expanded="true" aria-controls="reject">
							    Reject Offer
							</a>
							<a class="btn btn-primary" data-toggle="collapse" th:href="'#moreinfo'+${projectOffer.id}" role="button" aria-expanded="true" aria-controls="moreinfo">
							    Request More Information
							</a>
						</p>

						<div class="collapse" th:id="'reject'+${projectOffer.id}">
						  <div class="card card-body">
						    <input type="text" class="set-width" name="reject" value="Dear friend, after the revision we have considered your offer proposal as not adequate. Please contact us in case you are not agree." > <br><br>
						    <a th:href="@{/projectOffer/delete/__${projectOffer.id}__}"><input type="submit" class="btn btn-primary" value="Reject"></a>
						  </div>
						</div>

						<div class="collapse" th:id="'moreinfo'+${projectOffer.id}">
						  <div class="card card-body">
						    <input type="text" class="set-width" name="moreinfo" value="Dear friend, we have considered your offer and found a lack of information. Please modify next fields: "> <br><br>
						    <a th:href="'mailto:'+${internshipIdToMailContactPerson['__${projectOffer.id_internship}__']}"><input type="submit" class="btn btn-primary" value="Request"></a>
						  </div>
						</div>
					</div>
				</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="footer navbar-fixed-bottom">
		<p class="center"> SAPE is a non commercial trademark created for educational purposes. <br> &copy; 2018 <a href="/">SAPE</a>. All rights reserved. &nbsp <a href="#">Terms of Service</a> &nbsp <a href="#">Privacy</a></p>
	</div>
	<script>
		function filterOffers() {
  			// Declare variables
  			var input, filter, table, tr, td, i;
  			input = document.getElementById("inputOffers");
  			filter = input.value.toUpperCase();
  			table = document.getElementById("tableOffers");
  			tr = table.getElementsByTagName("tr");

  			// Loop through all table rows, and hide those who don't match the search query
  			for (i = 0; i < tr.length; i++) {
    				td = tr[i].getElementsByTagName("td")[0];
    				if (td) {
      					if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        					tr[i].style.display = "";
      					} else {
        					tr[i].style.display = "none";
      					}
    				}
  			}
		}
	</script>
</body>
</html>
