.pcenter {
	display: flex;
  	flex-direction: row;
  	justify-content: center;
 	align-items: center;
 	min-height: 70vh;
}

.bg {
	background-image: url("../img/bg1.jpg");
	background-size: cover
}

h1 {
	font-size: 33px
}

.index-text {
	font-family: Sans-serif;
	font-size: 20px
}

.green-button {
	background-color: #ddffcc;
}

.center {
	text-align: center;
}

.search-center {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
 	align-items: center;
	padding: 10px
}

.error {
	color: red;
}

.box {
	rows="4" ;
	cols="100";
}

#th {
	height: 30px;
	text-align: center;
	padding: 10px;
}

#tableInternships {
    	width: 100%;
}