<!doctype html>

<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8"/>
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<!-- app css  -->
<link th:href="@{/css/index.css}" href="/css/index.css"
    rel="stylesheet"/>
<title layout:title-pattern="$CONTENT_TITLE">SAPE</title>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-header" href="/"><img alt="Brand" src="css/img/mlogo.png"></a>
    </div>
    
    
    <!-- Here go fragments of navbars depending on a user role -->
    
    
  </div>
</nav>





<body>
<div class="footer navbar-fixed-bottom">
 <p class="center"> SAPE is a non commercial trademark created for educational purposes. <br> &copy; 2018 <a href="/">SAPE</a>. All rights reserved. &nbsp <a href="#">Terms of Service</a> &nbsp <a href="#">Privacy</a></p>
</div>
</body>
</html>
