<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/btc.css" th:href="@{/css/btc.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-header" href="/"><img alt="Brand" src="../../img/mlogo.png"></a>
    		</div>
    		<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
	  			<li>
	    				<form class="navbar-form navbar-right" style="margin-right:150px">
              					<div class="form-group">
                					<input type="text" class="form-control" placeholder="Search SAPE">
              					</div>
              					<button type="submit" class="btn btn-default">Search</button>
      	    				</form>
	  			</li>
          			<li class="dropdown">
            				<a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
            				<ul class="dropdown-menu">
              					<li><a href="/profile">Your profile</a></li>
              					<li><a href="/help">Help</a></li>
              					<li><a href="/signout">Sign out</a></li>
            				</ul>
          			</li>
      			</ul>
    		</div>
  	</div><!-- /.container-fluid -->
</nav>

<body>
	<div class="center">
		<h2>Edit Project Offer</h2>
		<form action="#" th:action="@{/projectOffer/update/{id}(id=${projectOffer.id})}"
                     th:object="${projectOffer}" method="post">
			<table class="bttcenter">
				<tr>
		            <td><label>Title</label></td>
		            <td><input type="text" th:field="*{title}" /></td>
		        </tr>
		        <tr>
		            <td><label>Itinerary</label></td>
		            <td><input type="text" th:field="*{itinerary}" /></td>
		        </tr>
		        <tr>
		            <td><label>Tasks</label></td>
		            <td><input type="text" th:field="*{tasks}" /></td>
		        </tr>
		        <tr>
		            <td><label>Objectives</label></td>
		            <td><input type="text" th:field="*{objectives}" /></td>
		        </tr>
		        <tr>
		            <td><label>State</label></td>
		            <td><input type="text" th:field="*{state}" /></td>
		        </tr>
		        <tr>
		            <td><label>Internship ID</label></td>
		            <td><input type="text" th:field="*{id_internship}" /></td>
		        </tr>
		        <tr>
		            <td><label>Start date</label></td>
		            <td><input type="text" th:field="*{startDate}" /></td>
		        </tr>
		        <tr>
		            <td><label>Last change date</label></td>
		            <td><input type="text" th:field="*{lastChangeDate}" /></td>
		        </tr>
			</table>
				
	    <input type="text" class="set-width" name="review" placeholder="Notify the contact person about changes you have introduced..."> <br><br>
	    <input type="submit" class="btn btn-primary" value="Apply">
	    </form>
	</div>
</body>
						
<div class="footer navbar-fixed-bottom">
	<p class="center"> SAPE is a non commercial trademark created for educational purposes. <br> &copy; 2018 <a href="/">SAPE</a>. All rights reserved. &nbsp <a href="#">Terms of Service</a> &nbsp <a href="#">Privacy</a></p>
</div>
</body>
</html>