<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/btc.css" th:href="@{/css/btc.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- remove input text start -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- remove input text end -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-header" href="/"><img alt="Brand" src="../../img/mlogo.png"></a>
    		</div>
    		<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
	  			<li>
	    				<form class="navbar-form navbar-right" style="margin-right:150px">
              					<div class="form-group">
                					<input type="text" class="form-control" placeholder="Search SAPE">
              					</div>
              					<button type="submit" class="btn btn-default">Search</button>
      	    				</form>
	  			</li>
          			<li class="dropdown">
            				<a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
            				<ul class="dropdown-menu">
              					<li><a href="/projectOffer/list.html" th:href="@{/projectOffer/list.html}">Offers</a></li>
              					<li><a href="/assignment/list.html" th:href="@{/assignment/list.html}">Assignments</a></li>
              					<li><a href="/company/list.html" th:href="@{/company/list.html}">Companies</a></li>
              					<li><a href="/preference/list.html" th:href="@{/preference/list.html}">Students' preferences</a></li>
            				</ul>
          			</li>
      			
          			<li class="dropdown">
            				<a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${user.name}">  <span class="caret"></span></a>
            				<ul class="dropdown-menu">
              					<li><a href="/signout">Sign out</a></li>
            				</ul>
          			</li>

    		</div>
  	</div><!-- /.container-fluid -->
</nav>

<body>
	<div class="center">
		<h1> Manage Offers </h1> <br>
		<a href="/projectOffer/list.html" th:href="@{/projectOffer/list.html}"><button class="btn btn-primary"> Offers </button></a>
		<a href="/assignment/list.html" th:href="@{/assignment/list.html}"><button class="btn btn-primary"> Assignments </button></a>
		<a href="/company/list.html" th:href="@{/company/list.html}"><button class="btn btn-primary"> Companies </button></a>
		<a href="/preference/list.html" th:href="@{/preference/list.html}"><button class="btn btn-primary"> Students' Preferences </button></a>
	</div>
	<div class="bttcenter">
  		<input type="text" id="inputOffers" class="deletable" onkeyup="filterOffers()" placeholder="Search offers...">
	</div>
	<div class="center">
		Sort by state:
		<a href="/projectOffer/list/revision" th:href="@{/projectOffer/list/revision}"><button class="btn btn-default"> Revision </button></a>
		<a href="/projectOffer/list/accepted" th:href="@{/projectOffer/list/accepted}"><button class="btn btn-default"> Accepted </button></a>
		<a href="/projectOffer/list/visible" th:href="@{/projectOffer/list/visible}"><button class="btn btn-default"> Visible </button></a>
		<a href="/projectOffer/list/proposed" th:href="@{/projectOffer/list/proposed}"><button class="btn btn-default"> Proposed </button></a>
		<a href="/projectOffer/list/assigned" th:href="@{/projectOffer/list/assigned}"><button class="btn btn-default"> Assigned </button></a>
		<a href="/projectOffer/list/assigned" th:href="@{/projectOffer/list}"><button class="btn btn-default"> All </button></a>
	</div> <br>
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div th:if="${#lists.isEmpty(projectOffers)}">
         	There are no projects offers in the data base. 
   		</div>
		<table th:unless="${#lists.isEmpty(projectOffers)}" id="tableOffers">
			<tr th:each="projectOffer: ${projectOffers}">
				<td>
				<p>
					<a class="btn btn-default btn-block" data-toggle="collapse" th:href="'#'+${projectOffer.id}" role="button" aria-expanded="false" aria-controls="offer1">
    					<strong th:text="${projectOffer.title}"></strong>
					</a>
   				</p>
     				<div class="collapse" th:id="${projectOffer.id}">
  					<div class="card card-body">
					    	<b>State</b>: <th:block th:switch="${projectOffer.state}">
											  <div th:case="0">
											     <p>Revision</p>
											  </div>
											  <div th:case="1">
											     <p>Accepted</p>
											  </div>
											  <div th:case="2">
											     <p>Visible</p>
											  </div>
											  <div th:case="3">
											     <p>Proposed</p>
											  </div>
											  <div th:case="4">
											     <p>Assigned</p>
											  </div>
										</th:block> <br>
					    	<b>Company</b> : <p th:text="${projectCompanyMatches['__${projectOffer.id}__']}"></p> <br>
					    	<b>Detailed description</b>: <br> <p th:text="${projectOffer.tasks}"></p> <br>
					    	<b>Goals:</b> <br> <p th:text="${projectOffer.objectives}"></p> <br>
					    	<b>Itinerary:</b> <br> <p th:text="${projectOffer.itinerary}"></p> <br>
					    	<b>Contact person:</b> <br> <p th:text="${internshipIdToMailContactPerson['__${projectOffer.id_internship}__']}"></p> <br>
							<a th:href="'/company/info/' + ${projectIdToCompanyCif['__${projectOffer.id}__']}">More information about company</a>
						<p>
							<a th:href="@{/projectOffer/update/__${projectOffer.id}__}"> 
								<button type="button" class="btn btn-primary">Modify Offer</button>
							</a>
							
								<a th:if="${projectOffer.id} != null" th:href="@{/review/list/__${projectOffer.id}__}"> 
									<button type="button" class="btn btn-primary">List reviews</button>
								</a>
							
							<a class="btn btn-primary" data-toggle="collapse" onsubmit="success()" th:href="'#reject'+${projectOffer.id}" role="button" aria-expanded="true" aria-controls="reject">
							    Reject Offer
							</a>
							<a class="btn btn-primary" data-toggle="collapse" th:href="'#moreinfo'+${projectOffer.id}" role="button" aria-expanded="true" aria-controls="moreinfo">
							    Request More Information
							</a>
							<a class="btn btn-success" data-toggle="collapse" th:href="'#approve'+${projectOffer.id}" role="button" aria-expanded="false" aria-controls="approve">
							    Approve Offer
							</a>
							<a class="btn btn-success" data-toggle="collapse" th:href="'#publish'+${projectOffer.id}" role="button" aria-expanded="false" aria-controls="approve">
							    Publish
							</a>
						</p>

						<div class="collapse" th:id="'reject'+${projectOffer.id}">
						  <div class="card card-body">
						    <textarea class="set-width" required name="reject">Dear friend, after the revision we have considered your offer proposal as not adequate. Please contact us in case you are not agree.</textarea> <br><br>
						    <a onclick="return confirmation()" th:href="@{/projectOffer/delete/__${projectOffer.id}__}"><input type="submit" class="btn btn-danger" value="Reject"></a>
						  </div>
						</div>

						<div class="collapse" th:id="'moreinfo'+${projectOffer.id}">
						  <div class="card card-body">
						    <textarea class="set-width" required name="moreinfo">Dear friend, we have considered your offer and found a lack of information. Please modify next fields:</textarea> <br><br>
						    <a th:href="'mailto:'+${internshipIdToMailContactPerson['__${projectOffer.id_internship}__']}"><input type="submit" class="btn btn-primary" value="Request"></a>
						  </div>
						</div>
						<div class="collapse" th:id="'approve'+${projectOffer.id}">
						  <div class="card card-body">
						    <textarea class="set-width" required name="approve">Your offer has been approved.</textarea> <br><br>
						    <a th:href="@{/projectOffer/approve/__${projectOffer.id}__}"><input type="submit" class="btn btn-success" value="Approve"></a>
						  </div>
						</div>
						<div class="collapse" th:id="'publish'+${projectOffer.id}">
						  <div class="card card-body">
						    <textarea class="set-width" required name="approve">Your offer has been made public.</textarea> <br><br>
						    <a th:href="@{/projectOffer/publish/__${projectOffer.id}__}"><input type="submit" class="btn btn-success" value="Publish"></a>
						  </div>
						</div>
					</div>
				</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="footer navbar-fixed-bottom">
		<p class="center"> SAPE is a non commercial trademark created for educational purposes. <br> &copy; 2018 <a href="/">SAPE</a>. All rights reserved. &nbsp <a href="#">Terms of Service</a> &nbsp <a href="#">Privacy</a></p>
	</div>
	<script>
		function filterOffers() {
  			// Declare variables
  			var input, filter, table, tr, td, i;
  			input = document.getElementById("inputOffers");
  			filter = input.value.toUpperCase();
  			table = document.getElementById("tableOffers");
  			tr = table.getElementsByTagName("tr");

  			// Loop through all table rows, and hide those who don't match the search query
  			for (i = 0; i < tr.length; i++) {
    				td = tr[i].getElementsByTagName("td")[0];
    				if (td) {
      					if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        					tr[i].style.display = "";
      					} else {
        					tr[i].style.display = "none";
      					}
    				}
  			}
		}
		
		function confirmation() {
			var result = confirm("Are you sure? This action will delete the project offer from the database. ");
			if (result) {
				return true;
			    
			}
			else{
				return false;
			}
		}
	</script>
	<!-- remove input text start -->
	<script>
            $(document).ready(function() {
                $('input.deletable').wrap('<span class="deleteicon" />').after($('<span/>').click(function() {
                    $(this).prev('input').val('').trigger('change').focus();
                }));
            });
        </script>
        <style>
            span.deleteicon {
                position: relative;
            }
            span.deleteicon span {
                position: absolute;
                display: block;
                top: 6px;
                right: 5px;
                width: 20px;
                height: 20px;
                background: url('https://drive.google.com/uc?export=view&id=1pEmYosB0XPXIGcYYVYyse_FiQof_5F1r');
                cursor: pointer;
            }
            span.deleteicon input {
                padding-right: 16px;
                box-sizing: border-box;
            }
        </style>
	<!-- remove input text end -->
</body>
</html>
