<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Manage tutors</title>
   <meta charset="UTF-8"/>
   <link rel="stylesheet"   
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
   <h1>List of tutors</h1>
   <table>
    <thead>
       <tr>
         <th>Name</th>
         <th>Email</th>
		 <th>Office</th>
         <th>Telephone</th>
       </tr>
    </thead>
    <tbody>
     <tr th:each="tutor: ${tutors}">
      <td th:text="${tutor.name}"></td>
      <td th:text="${tutor.mail}"></td>
	  <td th:text="${tutor.office}"></td>
	  <td th:text="${tutor.telephone}"></td>
      <td><a th:href="@{/tutor/update/{mail}(mail=${tutor.mail})}">Update</a>
      </td>
      <td><a th:href="@{/tutor/delete/{mail}(mail=${tutor.mail})}">Delete</a>
      </td>
     </tr>
    </tbody>
   </table>
   <a href="add.html">Add tutor</a>
</body>
</html>
